# 
# Yamada Hayao 
# Twitter: @Hayao0819
# Email  : hayao@fascode.net
#
# (c) 2019-2020 Fascode Network.
#
# Write the alias here.
#

# lsd-control
[[ -f /usr/local/lib/lsd-alias ]] && source /usr/local/lib/lsd-alias

# aptpac
alias apt='aptpac'
alias apt-get='aptpac'

# no-beep less
alias less='less -Q'