pkgbase = alterlinux-calamares
	pkgdesc = Distribution-independent installer framework
	pkgver = 3.2.35
	pkgrel = 3
	url = https://github.com/FascodeNet/alterlinux-calamares
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = qt5-translations
	makedepends = git
	makedepends = boost
	makedepends = ninja
	depends = kconfig
	depends = kcoreaddons
	depends = kiconthemes
	depends = ki18n
	depends = kio
	depends = solid
	depends = yaml-cpp
	depends = kpmcore
	depends = boost-libs
	depends = hwinfo
	depends = qt5-svg
	depends = polkit-qt5
	depends = gtk-update-icon-cache
	depends = plasma-framework
	depends = qt5-xmlpatterns
	depends = squashfs-tools
	depends = ckbcomp
	depends = libffi
	backup = usr/share/calamares/modules/bootloader.conf
	backup = usr/share/calamares/modules/displaymanager.conf
	backup = usr/share/calamares/modules/initcpio.conf
	backup = usr/share/calamares/modules/unpackfs.conf
	backup = usr/share/calamares/modules/removeuser.conf
	backup = usr/share/calamares/modules/users.conf
	backup = usr/share/calamares/branding/alter/branding.desc
	source = https://github.com/FascodeNet/alterlinux-calamares/archive/3.2.35-3.tar.gz
	sha256sums = SKIP

pkgname = alterlinux-calamares

