[Desktop Entry]
Version=1.0
Type=Application
Name=Welcome to Alter Linux
Exec=/usr/bin/chromium https://fascode.net/projects/linux/alter/welcome.php
Terminal=false
Comment=This page is useful for using Alter Linux.
Icon=/usr/share/icons/hicolor/scalable/alter.svg
URL=https://fascode.net/projects/linux/alter/welcome.php

Name[ja]=Alter Linuxへようこそ
GenericName[ja]=Alter Linuxへようこそ
Comment[ja]=Alter Linuxの利用に役立つページです。
