[Desktop Entry]
Name=Alter Linux Wallpaper
X-KDE-PluginInfo-Name=alter-wallpaper-1
X-KDE-PluginInfo-Author=FascodeNetwork
X-KDE-PluginInfo-Email=development@fascode.net
X-KDE-PluginInfo-License=GPLv3
