[Desktop Entry]
Encoding=UTF-8
Version=1.0
Icon=Icon=/usr/share/icons/hicolor/scalable/apps/alter.svg
Exec=/usr/bin/alterlinux-welcome-page 
Type=Application
StartupNotify=false
Terminal=false
Hidden=false

Name=Welcome to Alter Linux
Comment=Displays the Alter Linux welcome page.

Name[ja]=Alter Linuxへようこそ
GenericName[ja]=Alter Linuxへようこそ
Comment[ja]=Alter Linuxの利用に役立つページです。