LABEL arch
TEXT HELP
Boot the %ALTERISO_OS_NAME% install medium on BIOS.
It allows you to install %ALTERISO_OS_NAME% or perform system maintenance.
ENDTEXT
MENU LABEL %ALTERISO_OS_NAME% install medium (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-%ALTERISO_KERNEL_NAME%
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-%ALTERISO_KERNEL_NAME%.img
APPEND archisobasedir=%INSTALL_DIR% arch=%ARCH% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=%ALTERISO_COW_SPACESIZE% %ALTERISO_KERNEL_PARAM%

# Accessibility boot option
LABEL archspeech
TEXT HELP
Boot the %ALTERISO_OS_NAME% install medium on BIOS with speakup screen reader.
It allows you to install %ALTERISO_OS_NAME% or perform system maintenance with speech feedback.
ENDTEXT
MENU LABEL %ALTERISO_OS_NAME% install medium (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-%ALTERISO_KERNEL_NAME%
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-%ALTERISO_KERNEL_NAME%.img
APPEND archisobasedir=%INSTALL_DIR% arch=%ARCH% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=%ALTERISO_COW_SPACESIZE% accessibility=on %ALTERISO_KERNEL_PARAM%
