[Desktop Entry]
Version=1.0
Name=Chromium
GenericName=Web Browser
Comment=Access the Internet
Exec=/usr/bin/chromium %U
StartupNotify=true
Terminal=false
Icon=chromium
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Actions=new-window;new-private-window;
X-XFCE-Source=file:///usr/share/applications/chromium.desktop

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/chromium

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/usr/bin/chromium --incognito
