[ContrastEffect]
enabled=false
contrast=0.2
intensity=0.4
saturation=1.7

[Desktop Entry]
Name=AlterLinux

X-KDE-PluginInfo-Author=FascodeNetwork
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=plasmashell
X-KDE-PluginInfo-Email=development@fascode.net
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=default
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://fascode.net/projects/linux/alter/
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=AlterLinuxWallpaperMadebyJiju
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080
