*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig
.build_option
system/mkalteriso
system/cpp-src/mkalteriso
system/cpp-src/mkalteriso/build/
pkg/
src/
out/
work/
*.ignore*
*.ig*
*.add*
temp/
.config.old
system/cpp-src/mkalteriso/CMakeLists.txt.user
menuconfig-script/kernel_choice_*