<devnull@nl6720.me> <nl6720@gmail.com>
Aaron Griffin <aaron@archlinux.org> <aaronmgriffin@gmail.com>
Chandan Singh <cks071g2@gmail.com> chandan <cks071g2@gmail.com>
Charles Vejnar <ce@vejnar.org> Charles <ce@vejnar.org>
Christopher Brannon <cmbrannon79@gmail.com> <cmbrannon@cox.net>
David Runge <dvzrv@archlinux.org> <dave@sleepmap.de>
Eli Schwartz <eschwartz@archlinux.org> Eli Schwartz via arch-releng <arch-releng@archlinux.org>
Francois Dupoux <fdupoux@users.sourceforge.net> fdupoux <fdupoux@users.sourceforge.net>
Gerardo Exequiel Pozzi <vmlinuz386@gmail.com> <vmlinuz386@yahoo.com.ar>
James Sitegen <jamesm.sitegen@gmail.com> jamesm-sitegen <jamesm.sitegen@gmail.com>
Keshav Amburay <the.ridikulus.rat@gmail.com> Keshav P R <the.ridikulus.rat@gmail.com>
Martin Damian Fernandez <martin.damian.fernandez@gmail.com> martindamianfernandez <martin.damian.fernandez@gmail.com>
Michael Vorburger <mike@vorburger.ch> Michael Vorburger.ch <mike@vorburger.ch>
Sean Enck <enckse@voidedtech.com> Sean Enck via arch-releng <arch-releng@archlinux.org>
Simo Leone <simo@archlinux.org> <leone.simo@gmail.com>
Sven-Hendrik Haase <svenstaro@gmail.com> <sh@lutzhaase.com>
Yu Li-Yu <afg984@gmail.com> Li-Yu Yu via arch-releng <arch-releng@archlinux.org>
