[Desktop Entry]
Name=Alter Linux Wallpaper (Old)
X-KDE-PluginInfo-Name=alter-wallpaper-2-old
X-KDE-PluginInfo-Author=FascodeNetwork
X-KDE-PluginInfo-Email=development@fascode.net
X-KDE-PluginInfo-License=GPLv3
