# Yamada Hayao
# Twitter: @Hayao0819
# Email  : hayao@fascone.net
#
# (c) 2019-2020 Fascode Network.
#

LABEL arch64_nbd
TEXT HELP
Boot the Alter Linux (x86_64) live medium (Using NBD).
It allows you to install Alter Linux or perform system maintenance.
ENDTEXT
MENU LABEL Boot Alter Linux (x86_64) (NBD)
LINUX boot/x86_64/vmlinuz
INITRD boot/intel_ucode.img,boot/amd_ucode.img,boot/x86_64/archiso.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% archiso_nbd_srv=${pxeserver} loglevel=3 quiet splash udev.log-priority=3
SYSAPPEND 3

LABEL arch64_nfs
TEXT HELP
Boot the Alter Linux (x86_64) live medium (Using NFS).
It allows you to install Alter Linux or perform system maintenance.
ENDTEXT
MENU LABEL Boot Alter Linux (x86_64) (NFS)
LINUX boot/x86_64/vmlinuz
INITRD boot/intel_ucode.img,boot/amd_ucode.img,boot/x86_64/archiso.img
APPEND archisobasedir=%INSTALL_DIR% archiso_nfs_srv=${pxeserver}:/run/archiso/bootmnt loglevel=3 quiet splash udev.log-priority=3
SYSAPPEND 3

LABEL arch64_http
TEXT HELP
Boot the Alter Linux (x86_64) live medium (Using HTTP).
It allows you to install Alter Linux or perform system maintenance.
ENDTEXT
MENU LABEL Boot Alter Linux (x86_64) (HTTP)
LINUX boot/x86_64/vmlinuz
INITRD boot/intel_ucode.img,boot/amd_ucode.img,boot/x86_64/archiso.img
APPEND archisobasedir=%INSTALL_DIR% archiso_http_srv=http://${pxeserver}/ loglevel=3 quiet splash udev.log-priority=3
SYSAPPEND 3