[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Plank
Comment=Elegant, simple, clean dock
Exec=/usr/bin/plank
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
GenericName=Start Plank dock launcher
Icon=dock
