[Desktop Entry]
Version=1.0
Type=Link
Name=Welcome to AlterLinux
Comment=This page is useful for using AlterLinux.
Icon=/usr/share/icons/hicolor/scalable/alter.svg
URL=https://fascode.net/projects/linux/alter/welcome.php

Name[ja]=AlterLinuxへようこそ
GenericName[ja]=AlterLinuxへようこそ
Comment[ja]=AlterLinuxの利用に役立つページです。
