# 
# Yamada Hayao 
# Twitter: @Hayao0819
# Email  : hayao@fascone.net
#
# (c) 2019-2020 Fascode Network.
#
# Write the alias here.
#

[[ -f /usr/local/lib/lsd-alias ]] && source /usr/local/lib/lsd-alias

alias apt='aptpac'
alias apt-get='aptpac'