[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Welcome to AlterLinux
Comment=Displays the AlterLinux welcome page.
Icon=utilities-terminal
Exec=/usr/bin/alterlinux-welcome-page -l --alterlive
X-GNOME-Autostart-enabled=true
Type=Application
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
