[Desktop Entry]
Version=1.0
Name=Screenshot
Comment=Take screenshots of the entire screen, of the active window or of a region
Icon=applets-screenshooter
Exec=xfce4-screenshooter
Type=Application
StartupNotify=true
Terminal=false
Categories=GTK;Utility;
X-XFCE-Source=file:///usr/share/applications/xfce4-screenshooter.desktop
