[Unit]
Description=Add the Alter Linux repository key.
Wants=pacman-init.service
After=haveged.service
Requires=etc-pacman.d-gnupg.mount
After=etc-pacman.d-gnupg.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/add-alter-key

[Install]
WantedBy=multi-user.target
