[Desktop Entry]
Name=Thunar File Manager
Comment=Browse the filesystem with the file manager
GenericName=File Manager
Exec=thunar %F
Icon=Thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;FileTools;FileManager;
X-XFCE-Source=file:///usr/share/applications/Thunar.desktop
