prompt 1
timeout 300
display boot.msg
F1 boot.msg
F2 options.msg
DEFAULT arch

LABEL arch
SAY Now booting the kernel from SYSLINUX...
KERNEL /boot/vmlinuz26
APPEND lang=en locale=en_US.UTF-8 ramdisk_size=75% nitrd=/boot/archiso_pata.img

LABEL archide
SAY Now booting the kernel from SYSLINUX...
KERNEL /boot/vmlinuz26
APPEND lang=en locale=en_US.UTF-8 ramdisk_size=75% initrd=/boot/archiso_ide.img
