[Desktop Entry]
Version=1.0
Name=AlterLinux Sidebar
Comment=Generates sidebar items.
Icon=utilities-terminal
Exec=/usr/local/bin/alterlinux-user-directory
Terminal=false
Type=Application
Hidden=true
X-GNOME-Autostart-enabled=true

