[Desktop Entry]
Version=1.0
Name=AlterLinux Sidebar
Comment=Generates sidebar items.
Icon=utilities-terminal
Exec=/usr/local/bin/alterlinux-user-directory
X-GNOME-Autostart-enabled=true
Type=Application
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

