[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Compiz
Comment=Luxury window manager
Exec=compiz --replace ccp
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
X-GNOME-Autostart-enabled=true
