# Maintainer
# Yamada Hayao
# Twitter: @Hayao0819
# Email  : hayao@fascone.net
#
# Tweaked by lap1sid
# Twitter: @lap1sid
# Email  : lap1sid@fascode.net
#
# (c) 2019-2020 Fascode Network.
#
# Write the alias here.
#

# lsd-control
[[ -f /usr/local/lib/lsd-alias ]] && source /usr/local/lib/lsd-alias

# aptpac
alias apt='aptpac'
alias apt-get='aptpac'

# no-beep less
alias less='less -Q'


alias ls='ls --color=auto'
alias la='ls -a --color=auto'
alias ll='ls -la --color=auto'