pkgbase = calamares-alterlinux-git
	pkgdesc = Calamares configs for AlterLinux
	pkgver = r141.e8dd526
	pkgrel = 1
	url = https://github.com/FascodeNet/calamares-extensions
	arch = any
	license = GPLv3
	makedepends = git
	source = git+https://github.com/FascodeNet/calamares-extensions.git
	md5sums = SKIP

pkgname = calamares-alterlinux-git
