LABEL arch64
TEXT HELP
Boot the Arch Linux (x86_64) live medium. It allows you to install Arch Linux or
perform system maintenance.
ENDTEXT
MENU LABEL Boot Arch Linux (x86_64)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz26
INITRD /%INSTALL_DIR%/boot/x86_64/archiso.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL%
# Next line should be uncommented when prepare enviroment to boot from PXE.
#IPAPPEND 3
