[Desktop Entry]
Encoding=UTF-8
Name=Messages for web
Type=Link
URL=https://messages.google.com/web
Icon=/media/serene/22A1-2E68/google-app/Messenger_30026.png
Categories=GTK;Categories=GTK;Office;
X-XFCE-Source=file:///home/serene/.local/share/applications/Messages%20for%20web.desktop
