[Desktop Entry]
Encoding=UTF-8
Name=Google Docs
Type=Link
URL=https://docs.google.com/document
Icon=/usr/share/icons/google-app/1492616984-7-docs-document-file-data-google-suits_83406.png
Categories=GTK;Office;
X-XFCE-Source=file:///home/serene/.local/share/applications/Google%20Docs.desktop
