[Desktop Entry]
Encoding=UTF-8
Name=Google Translate
Type=Link
URL=https://translate.google.com/
Icon=/media/serene/22A1-2E68/google-app/Tranlate_29992.png
Categories=GTK;Office; 
X-XFCE-Source=file:///home/serene/.local/share/applications/Google%20Translate.desktop
