LABEL arch32
TEXT HELP
Boot the Arch Linux (i686) live medium. It allows you to install Arch Linux or
perform system maintenance.
ENDTEXT
MENU LABEL Boot Arch Linux (i686)
LINUX /%INSTALL_DIR%/boot/i686/vmlinuz26
APPEND initrd=/%INSTALL_DIR%/boot/i686/archiso.img archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% rw_branch_size=75% locale=en_US.UTF-8
# Next line should be uncommented when prepare enviroment to boot from PXE.
#IPAPPEND 3
