pkgbase = ckbcomp
	pkgdesc = Compile a XKB keyboard description to a keymap suitable for loadkeys or kbdcontrol
	pkgver = 1.205
	pkgrel = 1
	url = http://anonscm.debian.org/cgit/d-i/console-setup.git/
	arch = any
	license = GPL2
	depends = perl
	source = http://ftp.de.debian.org/debian/pool/main/c/console-setup/console-setup_1.205.tar.xz
	sha512sums = SKIP

pkgname = ckbcomp
