[Keyboard]
# 候補を選択時に空白を追加して確定する
# 可能な値:
# True False
#CommitWithExtraSpace=False
# 修飾キーを選択
# 可能な値:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=Alt
# サジェストの表示
#HotkeyToggleWordHint=CTRL_ALT_H
# サジェスト機能を開始する最低文字数
#MinimumHintLength=1
# 最大スペルヒントリスト数
#MaximumHintLength=5
# 既存の文字列を確定するときに Enter を使う
# 可能な値:
# True False
#UseEnterToCommit=False
# 現在の入力バッファをユーザー辞書に追加
#HotkeyAddToUserDict=CTRL_ALT_N

