[QuickPhrase]
# クイックフレーズのトリガーとなるキー
# 可能な値:
# None
# Semicolon
# Grave
#QuickPhraseTriggerKey=Semicolon
# クイックフレーズのトリガーとなる別のキー
#AlternativeTriggerKey=
# 修飾キーを選択
# 可能な値:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=None
# スペルヒントを表示しない
# 可能な値:
# True False
#DisableSpell=False
# 最大ヒント数
#MaximumHintLength=2

