[IMSelector]
# ローカルIMを選択するキー
#LocalInputMethodSelectKey=
# グローバルIMを選択するキー
#GlobalInputMethodSelectKey=
# ローカルの入力メソッドをクリア
#ClearLocal=

[GlobalSelector]
# 最初のIMに切り替え
#IM1=
# 二番目のIMに切り替え
#IM2=
# 3番目のIMに切り替え
#IM3=
# 4番目のIMに切り替え
#IM4=
# 5番目のIMに切り替え
#IM5=
# 6番目のIMに切り替え
#IM6=
# 7番目のIMに切り替え
#IM7=
# 8番目のIMに切り替え
#IM8=
# 9番目のIMに切り替え
#IM9=

[LocalSelector]
# 最初のIMに切り替え
#IM1=
# 二番目のIMに切り替え
#IM2=
# 3番目のIMに切り替え
#IM3=
# 4番目のIMに切り替え
#IM4=
# 5番目のIMに切り替え
#IM5=
# 6番目のIMに切り替え
#IM6=
# 7番目のIMに切り替え
#IM7=
# 8番目のIMに切り替え
#IM8=
# 9番目のIMに切り替え
#IM9=

