[Pinyin Enhance]
# 省略された Pinyin を英語として扱う
# 可能な値:
# True False
#ShortAsEnglish=False
# 最初の候補を置き換え可能にする
# 可能な値:
# True False
#AllowReplaceFirst=True
# スペルヒントを表示しない
# 可能な値:
# True False
#DisableSpell=False
# 最大ヒント数
#MaximumHintLength=1
# フレーズから文字を入力するホットキー
#InputCharFromPhraseString=[]
# フレーズモードから入力文字を切り替えるホットキー
#InputCharFromPhraseKey=
# Pinyin 記号を無効にする
# 可能な値:
# True False
#DisableSym=False
# Stroke input trigger length
#StrokeThresh=2
# Maximum results from stroke input.
#StrokeLimit=3

